#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <50>;
            key-positions = <0 3 12 15>;
            bindings = <&bootloader>;
        };

        combo_bt_clear {
            timeout-ms = <50>;
            key-positions = <0 1 2 3>;
            bindings = <&bt BT_CLR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                &to 0                &to 1                &to 2                &to 3
                &kp LC(LS(LG(N1)))   &kp LC(LS(LG(N2)))   &kp LC(LS(LG(N3)))   &kp LC(LS(LG(N4)))
                &kp LC(LS(LG(N5)))   &kp LC(LS(LG(N6)))   &kp LC(LS(LG(N7)))   &kp LC(LS(LG(N8)))
                &kp LC(LS(LG(N9)))   &kp LC(LS(LG(N0)))   &kp LC(LS(LG(MINUS))) &kp LC(LS(LG(EQUAL)))
            >;
        };

        layer_1 {
            bindings = <
                &to 0                &to 1                &to 2                &to 3
                &kp LC(LS(LG(Q)))    &kp LC(LS(LG(W)))    &kp LC(LS(LG(E)))    &kp LC(LS(LG(R)))
                &kp LC(LS(LG(T)))    &kp LC(LS(LG(Y)))    &kp LC(LS(LG(U)))    &kp LC(LS(LG(I)))
                &kp LC(LS(LG(O)))    &kp LC(LS(LG(P)))    &kp LC(LS(LG(LBKT))) &kp LC(LS(LG(RBKT)))
            >;
        };

        layer_2 {
            bindings = <
                &to 0                &to 1                &to 2                &to 3
                &kp LC(LS(LG(A)))    &kp LC(LS(LG(S)))    &kp LC(LS(LG(D)))    &kp LC(LS(LG(F)))
                &kp LC(LS(LG(G)))    &kp LC(LS(LG(H)))    &kp LC(LS(LG(J)))    &kp LC(LS(LG(K)))
                &kp LC(LS(LG(L)))    &kp LC(LS(LG(SEMI))) &kp LC(LS(LG(SQT)))  &kp LC(LS(LG(GRAVE)))
            >;
        };

        layer_3 {
            bindings = <
                &to 0                &to 1                &to 2                &to 3
                &kp LC(LS(LG(Z)))    &kp LC(LS(LG(X)))    &kp LC(LS(LG(C)))    &kp LC(LS(LG(V)))
                &kp LC(LS(LG(B)))    &kp LC(LS(LG(N)))    &kp LC(LS(LG(M)))    &kp LC(LS(LG(COMMA)))
                &kp LC(LS(LG(DOT)))  &kp LC(LS(LG(FSLH))) &kp LC(LS(LG(BSLH))) &kp LC(LS(LG(TAB)))
            >;
        };
    };
};
